<div class="container__blog-menu">
    <div class="container__blog-menu-title">
        <p>The Glory <span class="container__blog-menu-title-italic">journal</span></p></div>
    <div class="container__blog-menu-links">
        <ul>
            <li><a href="https://www.google.com/">Home</a></li>
            <li><a href="https://www.google.com/">Products</a></li>
            <li><a href="https://www.google.com/">Resources</a></li>
            <li><a href="https://www.google.com/">Pricing</a></li>

            <div class="container__blog-menu-button">
                <li><button class="container__blog-menu-button-howitworks">How it works</button></li>
                <li><button class="container__blog-menu-button-getstarted">Get started</button></li>
            </div>
        </ul>
    </div>
</div>
