<div class="containter__blog-titulo">
    <p class="container__titulo-info">Our blog</p>
    <h1 class="container__titulo-principal">The Glory <span class="container__titulo-principal-italico">journal</span></h1>
    <p class="container__blog-descricao">The Glory Journal features carefully selected good works from studios and designers from around the globe. Subscribe for new posts in your inbox.</p>
    <div class="container__blog-subscribe">
        <input type="text" name="Subscribe" class="container__blog-subscribe-input" placeholder="Enter your email">
        <button class="container__blog-subscribe-button">Get started</button>
    </div>
</div>