<div class="container__blog-destaque">
    <div class="container__blog-destaque-img">
            <a href="http://">
            <img src="{{photoCover}}" alt="" srcset="" class="container__blog-destaque-img-edit">
            </a>
    </div>
    <div class="container__blog-destaque-conteudo">
        <div class="container__blog-destaque-titulo">
            <h1><a href="http://">{{cardTitle}}</a></h1>
        </div>
        <div class="container__blog-destaque-descricao">
            <p>{{cardDescription}}</p>
        </div>
        <div class="container__blog-destaque-tags">
            <ul>
                <li class="container__blog-destaque-tags-design">Science</li>
                <li class="container__blog-destaque-tags-design">Research</li>
                <li class="container__blog-destaque-tags-design">Presentation</li>
            </ul>
        </div>
    </div>
</div>