.container__blog-destaque {
    color: #01573e;
    display: flex;
    flex-direction: column;
    margin-right: 5em;
}

.container__blog-destaque-img {
    margin: 1em 0 1em 8em
}

.container__blog-destaque-img-edit {
    width: 500px;
    height: 250px;
    min-width: 500px;
    min-height: 250px;
    object-fit: cover;
    object-position: 20% 10%;
    border: .1em solid #01573e;
    box-shadow: .3em .3em #01573e;
}

.container__blog-destaque-conteudo {
    margin-left: 8em;
}

.container__blog-destaque-titulo {
    font-size: .5em;
    padding-top: 1.5em;
    display: inline-block;
    border-bottom: .3em solid #01573e;
    width: 60em;
}

a {
    color: #01573e;
    text-decoration: none;
}

.container__blog-destaque-descricao {
    font-size: .7em;
    padding: .3em 0 1.2em 0;
    text-align: left;
    margin: 0 2em 0 0;
    width: 40em;
}

.container__blog-destaque-tags ul {
    margin: 0 0 1em 0;
    display: flex;
    flex-direction: row;
    text-align: left;
    list-style-type: none;
    color: #01573e;
}

.container__blog-destaque-tags-design {
    font-size: .6em;
    border: .2em solid #01573e;
    border-radius: 1em;
    padding: .2em .4em;
    margin-right: .5em;
    font-weight: bold;
}