<div class="container__blog-destaque">
    <a href="http://">
        <div class="container__blog-destaque-img">
            <img src="https://img.bleacherreport.net/img/images/photos/002/353/104/hi-res-285885_crop_north.jpg?1371010783&w=3072&h=2048" alt="" srcset="" class="container__blog-destaque-img-edit">
        </div>
        <div class="container__blog-destaque-titulo">
            <h1>
                Bill Walsh leadership lessons
            </h1>
        </div>
    </a>
    <div class="container__blog-destaque-descricao">
        <p>
            Like to known the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty? Insights from one of the greatest professional sport choaches of all time.
        </p>
    </div>
    <div class="container__blog-destaque-tags">
        <ul>
            <li class="container__blog-destaque-tags-design">Design</li>
            <li class="container__blog-destaque-tags-design">Research</li>
            <li class="container__blog-destaque-tags-design">Presentation</li>
        </ul>
    </div>
</div>