<div class="container__small-card">
    
<div class="container__small-card-img">
    <a href="http://"><img src="{{photoCover}}" alt="" srcset="" class="container__small-card-img-edit"></a>
</div>

<div class="container_small-card-conteudo">
    <div class="container__small-card-autor">
        <p>{{cardAuthor}}</p>
    </div>
    <div class="container__small-card-titulo">
        <p>{{cardTitle}}</p>
    </div>
<div class="container__small-card-descricao">
    <p>{{cardDescription}}</p>
</div>
<div class="container__small-card-tags">
    <ul>
        <li class="container__small-card-tags-design">Science</li>
        <li class="container__small-card-tags-design">Research</li>
    </ul>
</div>
</div>
</div>