<app-blog-titulo></app-blog-titulo>
<app-blog-subtitulo></app-blog-subtitulo>
<div class="container__artigos">
    <div class="container__artigos-principal">
        <app-blog-destaque
        photoCover="https://media.nature.com/lw767/magazine-assets/d41586-023-01446-7/d41586-023-01446-7_25289864.jpg?as=webp"
        cardTitle="Enorme cache de genomas de mamíferos oferece novos insights sobre a evolução humana"
        cardDescription="O Projeto Zoonomia está ajudando a identificar genes responsáveis ​​pelo tamanho do cérebro animal e por doenças humanas."
        ></app-blog-destaque>
    </div>
    <div class="container__artigos-secundarios">
        <app-blog-cards
        cardAuthor="Dyani Lewis"
        photoCover="https://media.nature.com/lw767/magazine-assets/d41586-023-01452-9/d41586-023-01452-9_25290360.jpg?as=webp"
        cardTitle="A poluição do ar na China está caindo - mas ainda há um longo caminho a percorrer"
        cardDescription="Os ganhos fáceis da atualização das chaminés das usinas serão fortalecidos apenas por mudanças políticas mais profundas."
        ></app-blog-cards>
        <app-blog-cards
        cardAuthor="Miryam Naddaf"
        photoCover="https://media.nature.com/lw767/magazine-assets/d41586-023-01425-y/d41586-023-01425-y_25275194.jpg?as=webp"
        cardTitle="'Intenção não é ação': centro de pesquisa do cérebro intensifica a busca pela igualdade"
        cardDescription="O novo instituto visa consagrar a inclusão em todos os aspectos da pesquisa em neurociência e psicologia."
        ></app-blog-cards>
    </div>
</div>
